---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Topnav from '../components/Topnav.astro';
import UnderButton from '../components/UnderButton.astro';
import SuperBlock from '../components/SuperBlock.astro';
---

<Layout title="UltraGeoSite - Blog" description="This is the blog page. Thank you for being with me when I am alone.">
    <Topnav />
    <main class="main-container">
        <SuperBlock>
            <span slot="header">📝 Blog</span>
            Here you will be able to find my blog/shit posts.
            <span class="accent-text">Coming Soon.</span>
        </SuperBlock>
        <UnderButton text="Go back *click*" href="/" />
        <Footer text="© 2024 UltraGeoPro. I love my Russian Mother." />
    </main>
</Layout>

<style>
    main {
	  margin: auto;
	  padding: 1rem;
	  width: clamp(900px, 80%, 800px);
	  max-width: calc(100% - 0.5rem);
	  color: white;
	  font-size: clamp(16px, 2vw + 1rem, 20px);
	  line-height: 1.6;
	}
</style>
