---
import Layout from '../layouts/Layout.astro';
import CenteredImage from '../components/CenteredImage.astro';
import UnderButton from '../components/UnderButton.astro';
---

<Layout title="Centered Image Page" description="What is it?">
    <main class="flex flex-col items-center text-center space-y-6">
        <h1 class="text-[clamp(2rem,4vw,3rem)] text-[rgb(var(--accent-light))] font-semibold mt-[4rem]">
            My Brand New Logo
        </h1>
        <CenteredImage src="/images/brand-new-logo.jpg" alt="I hope you like it" />
        <UnderButton text="Go Back Home" href="/" />
    </main>
</Layout>
