---
import Layout from '../layouts/Layout.astro';
import SuperBlock from '../components/SuperBlock.astro';
---

<Layout title="UltraGeoSite" description="Hello my name is Ultrageopro I want to live in Uganda">
  <main class="mx-auto p-4 text-white leading-relaxed">
	<h1>Whoops! It's me! <strong class="accent-text">UltraGeoPro</strong></h1>
    <SuperBlock>
		<span slot="header">🚀 Ok, let's get started</span>
		I am <strong class="accent-text font-bold">UltraGeoPro</strong>, a developer from 
		<a href="https://en.wikipedia.org/wiki/Moscow" class="accent-link"><i>Moscow</i></a>.
		I think you’ll enjoy reading various posts on this site because I put in a lot of effort.
		You can find all information about me in the 
		<a href="/about" class="accent-link">About</a> section, and my contact details in the 
		<a href="/contacts" class="accent-link">Contacts (sexual)</a> section. Also you may see my brand new logo <a href="/brand-new-logo" class="accent-link">here</a>.
		<span slot="footer-webring"><a href="https://webring.otomir23.me/19/prev">prev</a> [webring] <a href="https://webring.otomir23.me/19/next">next</a></span>
	</SuperBlock>
  </main>
</Layout>

<style>
	main {
	  padding: 1rem;
	  width: clamp(900px, 80%, 800px);
	  max-width: 100%;
	  color: white;
	  font-size: clamp(16px, 2vw + 1rem, 20px);
	  line-height: 1.6;
	}
  
	h1 {
	  font-size: clamp(2rem, 5vw + 1rem, 3rem);
	  text-align: center;
	  margin-bottom: 3rem;
	  margin-top: 1rem;
	}
  </style>