<script>
  const quotes = [
    "I love something that doesn't exist.",
    "I love my computer monkey.",
    "How about gambling with a computer monkey?",
    "I want to live in Uganda.",
    "Don't you think so?",
    "I hope you'll like it.",
    "I see you.",
    "Stars are my friends.",
  ];

  const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];

  document.addEventListener("astro:page-load", () =>{    
    var footer_p = document.getElementById("footer_p");
    footer_p.textContent = "© 2024 UltraGeoPro." + " " + randomQuote;
  })

</script>

<footer>
  <p id="footer_p">{`© 2024 UltraGeoPro.`}</p>
</footer>

<style>
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(var(--accent-light));
      text-align: center;
      font-size: clamp(0.5rem, 1vh + 1vw, 1rem);
      
      width: 100%;
      padding: 1rem;
      margin-top: auto;
  }
</style>
