<footer>
  <p><a href="https://github.com/ultrageopro">© 2024 UltraGeoPro</a> & <a href="https://github.com/ultrageopro/ultrageosite">src</a>. <span id="quote"></span></p>
</footer>

<style>
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(var(--accent-light));
      text-align: center;
      font-size: clamp(0.5rem, 1vh + 1vw, 1rem);
      
      width: 100%;
      padding: 1rem;
      margin-top: auto;
  }
</style>

<script>
  // I think this is a good idea to add a random quote to the footer
  // I don't have schizophrenia btw
  const quotes = [
    "I love my computer monkey.",
    "I want to live in Uganda.",
    "Don't you think so?",
    "I hope you'll like it.",
    "I see you.",
    "Stars are my friends.",
    "Your mom told me something.",
    "Happy new year.",
    "Something is wrong.",
  ];

  const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];

  var quote = document.getElementById("quote");
  quote.textContent = randomQuote;

</script>