---
const { text } = Astro.props;
---

<footer>
  <p>{text}</p>
</footer>

<style>
  footer {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(var(--accent-light));
      text-align: center;
      font-size: clamp(0.5rem, 1vh + 1vw, 1rem);
      
      width: 100%;
      padding: 1rem;
      margin-top: auto;
  }
</style>
