<div
  class="prose prose-invert mb-8
  hover:prose-a:text-[rgb(var(--accent-dark))] prose-a:text-[rgb(var(--accent-light-hover))]
  prose-p:text-justify prose-p:leading-tight prose-p:mb-4 prose-p:text-lg
  prose-img:rounded-xl prose-img:shadow-[0_4px_12px_rgba(0,0,0,0.3)]
  prose-headings:text-[rgb(var(--accent-light))]
  prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:text-[rgb(var(--accent-dark))]
  prose-code:bg-[rgba(var(--accent), 0.1)] prose-code:text-[rgb(var(--accent-light))] prose-code:rounded
  [&_h2]:mt-8 [&_h2]:mb-4 [&_h3]:mt-3 [&_h3]:mb-3 [&_hr]:mt-2 [&_hr]:mb-8"
>
  <slot />
</div>