<div
  class="prose prose-invert mb-8
  hover:prose-a:text-[rgb(var(--accent-dark))] prose-a:text-[rgb(var(--accent-light-hover))]
  prose-p:leading-tight prose-p:mb-4 prose-p:text-lg
  break-words whitespace-normal
  prose-img:rounded-xl prose-img:shadow-[0_4px_12px_rgba(0,0,0,0.3)]
  prose-headings:text-[rgb(var(--accent-light))] prose-headings:mt-8 prose-headings:mb-2
  prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:text-[rgb(var(--accent-dark))]
  prose-code:bg-[rgba(var(--accent), 0.1)] prose-code:text-[rgb(var(--accent-light))] prose-code:rounded prose-code:leading-tight
  prose-code:text-justify prose-code:mb-4 
  prose-hr:my-4">
  <slot />
</div>
