<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl prose-h1:text-[rgb(var(--accent))]
  prose-a:text-[rgb(var(--accent-light))] hover:prose-a:text-[rgb(var(--accent-dark))] dark:prose-a:text-[rgb(var(--accent-light-hover))]
  prose-p:text-justify prose-p:leading-relaxed prose-p:mb-4
  prose-img:rounded-xl
  prose-headings:underline prose-headings:text-[rgb(var(--accent-light))]
  prose-blockquote:border-l-4 prose-blockquote:pl-4 prose-blockquote:italic prose-blockquote:text-[rgb(var(--accent-light))] dark:prose-blockquote:text-[rgb(var(--accent-dark))]
  prose-code:bg-[rgba(var(--accent), 0.1)] prose-code:text-[rgb(var(--accent-dark))] prose-code:px-1 prose-code:py-0.5 prose-code:rounded">
  <slot />
</div>