<div class="super-block">
    <p class="post-type"><slot name="post-type"></slot></p>
    <strong class="super-block-header"><slot name="header"></slot></strong>
    <p><slot /></p>
</div>

<style>
    .super-block {
        padding: 1rem;
        background-color: rgba(var(--accent), 0.1);
        margin: clamp(1rem, 2vh + 1vw, 2rem) clamp(10px, 4vh + 2vw, 30px);
        border-radius: 16px;
        font-size: clamp(16px, 1.5vh + 0.5vw, 24px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .super-block:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .super-block strong {
        font-size: clamp(1rem, 2vh + 1vw, 2rem);
        color: rgb(var(--accent-light));
    }

    .super-block .super-block-header {
        color: rgb(var(--accent));
        font-size: clamp(1rem, 2vh + 1vw, 2rem);
        margin-bottom: 0.5rem;
    }

    .super-block .post-type {
        font-size: clamp(14px, 1.5vh + 0.5vw, 20px);
        color: rgb(var(--accent-light));
    }
</style>
