---
const {additionalInfo} = Astro.props;

const hasHeader = !!Astro.slots.header;
const hasPostType = !!Astro.slots["post-type"];
const hasSmallHeader = !!Astro.slots["small-header"];
const hasFooterWebring = !!Astro.slots["footer-webring"];
---

<div class=`super-block` article-type={additionalInfo}>
    {hasPostType && <p class="post-type"><slot name="post-type"></slot></p>}
    {hasHeader && <strong class="super-block-header"><slot name="header"></slot></strong>}
    {hasSmallHeader && <strong class="small-block-header"><slot name="small-header"></slot></strong>}
    <p><slot /></p>
</div>

{hasFooterWebring && (
    <div class="super-block-footer">
        <p class="footer-webring"><slot name="footer-webring"></slot></p>
    </div>
)}

<style>
    .super-block {
        padding: clamp(1rem, 2vh + 1vw, 5rem);
        background-color: rgba(var(--accent), 0.1);
        margin: clamp(1rem, 2vh + 1vw, 2rem) clamp(10px, 4vh + 2vw, 30px);
        border-radius: 16px;
        font-size: clamp(16px, 1.5vh + 0.5vw, 24px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        text-align: justify;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .super-block:hover {
        transform: translateY(-8px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .super-block strong {
        font-size: clamp(1rem, 2vh + 1vw, 2rem);
        color: rgb(var(--accent-light));
    }

    .super-block .small-block-header {
        color: rgb(var(--accent));
        font-size: clamp(1rem, 2vh + 1vw, 2rem);
        margin-bottom: 0.5rem;
    }

    .super-block .super-block-header {
        color: rgb(var(--accent));
        font-size: clamp(1.5rem, 2.5vw + 0.5rem, 2.5rem);
        margin-bottom: 1rem;
    }

    .super-block .post-type .footer-webring {
        font-size: clamp(14px, 1.5vh + 0.5vw, 20px);
        color: rgb(var(--accent-light));
    }

    .super-block-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(16px, 1.5vh + 0.5vw, 24px);
    }
</style>
