---
import Layout from "./Layout.astro";

const { title, description }  = Astro.props;
---

<Layout title={title} description={description}>
  <article class="px-4 mx-4 mt-4 leading-relaxed">
    <a href="/">Go home</a>
    <slot />
  </article>
</Layout>