---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Topnav from '../components/Topnav.astro';

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
		<meta name="generator" content={Astro.generator} />

		<meta property="og:image" content="/images/preview.jpg"/>
		<meta
			content="And it was the afternoon of Halloween. And all the houses shut against a cool wind. And the town was full of cold sunlight. But suddenly, the day was gone. Night came out from under each tree and spread"
			property="og:description"
		/>

		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="page-container">
		<Topnav />

		<div class="page-content">
			<slot />
		</div>
		
		<Footer/>
	</body>
</html>

<style>
	.page-content {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: clamp(4rem, 10vh, 6rem);
	}
</style>

<style is:global>
	:root {
		--accent: 255, 165, 89;
		--accent-light: 255, 223, 191;
		--accent-dark: 204, 108, 37;
		--accent-light-hover: 255, 209, 108;
		--button-background: 20, 22, 28;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light-hover)) 50%,
			rgb(var(--accent-light)) 100%
		);
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/fonts/ubuntu.woff') format('woff');
		font-display: swap;
		font-weight: normal;
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/fonts/ubuntu-bold.woff') format('woff');
		font-display: swap;
		font-weight: bold;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background: #1a1c1f;
		font-family: "Ubuntu";
	}

	.page-container {
		display: flex;
		flex-direction: column;
		min-height: calc(100dvh-clamp(4rem, 10vh, 6rem));
	}

	.accent-text {
	  color: rgb(var(--accent-light));
	}
  
	a {
	  color: rgb(var(--accent-light));
	  text-decoration: underline;
	}

</style>
