---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import Topnav from '../components/Topnav.astro';

interface Props {
	title: string;
	description?: string;
}

const quotes = [
  "I love something that doesn't exist.",
  "I love my computer monkey.",
  "How about gambling with a computer monkey?",
  "I want to live in Uganda.",
  "Don't you think so?",
  "I hope you'll like it.",
  "I see you.",
  "Stars are my friends.",
];

const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="page-container">
		<Topnav />
		<main>
			<slot />
		</main>
		<Footer text={`© 2024 UltraGeoPro. ${randomQuote}`} client:load />
	</body>
</html>

<style>
	main {
		margin-top: clamp(2rem, 10vh, 4rem);
	}
</style>

<style is:global>
	:root {
		--accent: 255, 165, 89;
		--accent-light: 255, 223, 191;
		--accent-dark: 204, 108, 37;
		--accent-light-hover: 255, 209, 108;
		--button-background: 20, 22, 28;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/fonts/ubuntu.woff') format('woff');
		font-display: swap;
		font-weight: normal;
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/fonts/ubuntu-bold.woff') format('woff');
		font-display: swap;
		font-weight: bold;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background: #1a1c1f;
		font-family: "Ubuntu";
	}

	.page-container {
		display: flex;
		flex-direction: column;
		min-height: calc(100dvh-clamp(2rem, 10vh, 4rem));
	}

	main {
		flex: 1;
	}

	.accent-text {
	  color: rgb(var(--accent-light));
	}
  
	a {
	  color: rgb(var(--accent-light));
	  text-decoration: underline;
	}

</style>
