---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/icons/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="page-container">
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--accent: 255, 165, 89;
		--accent-light: 255, 223, 191;
		--accent-dark: 204, 108, 37;
		--accent-light-hover: 255, 209, 108;
		--footer-background: 20, 22, 28;
		--button-background: 20, 22, 28;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/fonts/ubuntu.woff') format('woff');
		font-display: swap;
		font-weight: normal;
	}

	@font-face {
		font-family: 'Ubuntu';
		src: url('/fonts/ubuntu-bold.woff') format('woff');
		font-display: swap;
		font-weight: bold;
	}

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		background: #1a1c1f;
		font-family: "Ubuntu";
	}

	.page-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh; /* Задает минимальную высоту для контейнера */
	}

	/* Для автоматического расположения футера внизу */
	main {
		flex: 1;
	}

	.accent-text {
	  color: rgb(var(--accent-light));
	}
  
	.accent-link {
	  color: rgb(var(--accent-light));
	  text-decoration: underline;
	}

	code {
		background-color: rgba(var(--accent), 0.3);
		padding: 0.15rem 0.25rem;
		border-radius: 0.5rem;
		font-size: clamp(16px, 1.5vh + 0.5vw, 24px);
	}
</style>
